/* Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* Utilities or Common Style*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
}
/* Header style */
header{
    background-color: #2D25A0;
    height: 677px;
    margin-bottom: 70px;
}
nav{
    padding-top: 42px;
    padding-bottom: 67px;
}
ul{
    display: flex;
    justify-content: space-between;
}
.left-nav{
    margin-left: 70px;
}
ul>span{
    display: flex;
}
ul li{
    list-style: none;
    margin-left: 36px;
}
ul li a{
    color: #FFFFFF;
    text-decoration: none;
}
.login{
    background-color: #E02C6D;
    color: #FFFFFF;
    width: 123px;
    height: 44px;
    padding: 10px 24px;
    margin-right: 124px;
}
.login:hover{
    background-color: tomato;
}
.header-main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* padding-top: 150px; */
}
.header-title h1{
    font-size: 64px;
    color: #FFFFFF;
    line-height: 80px;
    margin-bottom: 27px;
}
.header-title a{
    width: 168px;
    padding: 10px 24px;
    color: #FFFFFF;
    background-color: #E02C6D;
    text-decoration: none;
}
.header-title a:hover{
    background-color: tomato;
}
.header-pic img{
    width: 556px;
    height: 438px;
    transition: transform 2s ease;
}
.header-pic:hover img{
    transform: scale(1.1) rotate(30deg);
}
/* Players style */
.player-section{
    display: flex;
    justify-content: center;
    margin-bottom: 165px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.player{
    width: 330px;
    height: 474px;
    padding: 15px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img{
    width: 300px;
    height: 256px;
    width: 100%;
}
.player-info h2{
    font-size: 28px;
    color: #18191F;
    margin-top: 16px;
    margin-bottom: 0;
}
.player-info p{
    font-size: 16px;
    color: #6C6C6C;
    margin-top: 10px;
}
/* Highlights section */
.highlight-section{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 158px;
}
.highlight-info{
    width: 466px;
    height: 309px;
}
.highlight-info h1{
    font-size: 48px;
    color: #0A0826;
    margin-bottom: 8px;
}
.highlight-info p{
    font-size: 16px;
    color: #6C6C6C;
    margin-bottom: 24px;
}
.highlight-info a{
    width: 168px;
    padding: 10px 24px;
    color: #FFFFFF;
    background-color: #E02C6D;
    text-decoration: none;
}
.highlight-info a:hover{
    background-color: tomato;
}
.highlight-section img{
    width: 567px;
    height: 427px;
}